/* css reset */
*{
   margin: 0;
   padding: 0; 
}
/* css variable  */
:root{
    --navbar-height:59px;
}

/* Navigation Bar */

nav img{
    height: 200px;
    width: 200px;
    border-radius: 200px;
  }
  #navbar{
    display: flex;
    align-items:center ;
    position: relative;
    position: sticky;
    top: 0px;
    /* position: relative; */
 
  } 
  #navbar::before{
    content: "";
background-color: black;
position: absolute;
height: 100%;
height: 100%;
/* remember top 0 left =0 for fixing navbar */
    top: 0px;
    left: 0px;
width: 100%;
z-index: -1;
opacity:0.4 ;

}
  /* navigation bar :logo and image  */
  #logo{
    
    margin: 10px 34px;
  }
#logo img{
    height: 68px;
    width: 68px;
    margin: 4px 3px;
}

   /* navigation bar : list styling */
   #navbar{
    position: relative;
    
   }
  #navbar  ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive; 
}
  

#navbar  ul li{
    /* color: ; */
    list-style: none;
    font-size: 1.3rem;
    

}
#navbar  ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
   
}
#navbar  ul li a:hover{
    color: rgb(10, 10, 10);
    background-color: white;
    border-radius: 6px;
    
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
 padding: 3px 200px;
 /* jab bhi text dusre section me jae to uss means jisme ja rha hai uska heigh badha do */
 height:  551px; ;  
 justify-content: center;
 align-items: center;  
}
#home::before{
    content: "";
    position: absolute;
    /* background-color: black; */
    background:url(../bg3.jpg.jpg) no-repeat center center/cover;
    height: 642px;
    top: 0px;
    left: 0px;
/* remember top 0 left =0 for fixing navbar */
    width: 100%;
    z-index: -1;
    opacity:0.89;
     
}
#home h1{
  color: white;
  text-align: center;

}
#home p{
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Baloo Bhai 2', cursive;
}

/* services section */
#services{
  margin: 34px;
  display: flex;
  /* text-align: center; */

}

#services .box{
  border: 2px solid rgb(212, 67, 23);
  padding: 28px;
  margin: 2px 34px;
  
  border-radius: 23px;
  background: #e3d3d34a;
  
}
#services .box img{
 height: 150px;
 margin: auto; 
 display: block;
 
}
#services .box p{
  font-family: 'Bree serof ', serif;
  /* baki hai  */
}
#services{} 
/* // client section prt  */




#client-section{
  position: relative;

}
#client-section::before{
  content: "";
  position: absolute;
  background: url(../img/bg.png4.jpg)no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.50; ;

}
#clients{
display: flex;
justify-content: center;
align-items: center;
/* flex-direction: row; */

}
 


 .client-item{
  padding: 30px ;
   cursor: pointer;
} 
 .client-item img:hover{
 color: rgb(201, 50, 30);
} 

#clients img{
  height: 124px; 
}
/* #clients img{
height: 124px;
display: flex;
justify-content: center;
a lign-items: center;

} */
/* contact section */
#contect{
  position: relative;  
}
#contact::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
  background: url(../img/new.jpg.webp) no-repeat center center/cover ;
}
#contact-box{
 display: flex; 
 justify-content: center;
 align-items: center;
 padding-bottom: 0px;

}
#contact-box form{
width: 40%;

}
#contact-box label{
font-size: 1.3rem;
font-family: 'Baloo Bhai 2', cursive;

}
#contact-box input , #contact-box textarea{
width: 100%;
padding: 0.5rem;
border-radius: 9px;
font-size:1.1rem ;
}

#contact-box .btn1{
  padding: 6px 20px;
    border: 2px solid white;
    background-color: #ac39b3;
    color: white;
    margin: 9px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
  #contact-bos .btn1:hover{
  /* color: rgb(235, 227, 218); */
  background-color: aqua;
}
/* /* footer{ */
  
  footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
  

/* utility classes */
.h-primary{
  font-size: 2.8rem;
  padding: 12px;
  text-align: center;
  font-family: 'Baloo Bhai 2', cursive;

} 
.h-secondary{
  font-size: 2.8rem;
  padding: 12px;
  font-family: 'Baloo Bhai 2', cursive;
}
.btn{
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;

}
.center{
  text-align: center;
}
footer{
  background-color: black;
  color: aliceblue;
  padding: 12px 2px ;
}